/* Main CSS File with overall application design */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,400;1,600;1,800&display=swap');

.main {
    background-color:#c2c9b5;
    font-family: 'Kanit', sans-serif;
    min-height: 100vh;
}

.logo {
    height: 30px;
}

.heading {
    color: white;
    font-weight: 900;
    background-color: #596640;
    line-height: 3em;
    padding-left: 2em;
}

.btn {
    background-color: #596640;
    border: 0;
}

.btn-primary:hover{
    background-color: #89a15c;
}

