.entry {
    color: black;
    background-color: #c2c9b5;
    border: solid grey 1px;
    height: 3em;
    line-height: 3em;
    padding-left: 2em;
    display: flex;
    flex-direction: row;
}

.data {
    flex: 1;
}

/* TODO: fix how content is shown on small screens! */